.profile-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 0 !important;
}
.profile-container .background-image {
  width: 100%;
  height: 320px;
}

.background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /*filter: brightness(0.5);*/
}

.user-container {
  display: flex;
}
.user-container .user-card{
    flex: 1;
    max-width: 300px;
    position: relative;
    bottom: 120px;
    margin: 20px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    height: fit-content;
}
.user-card .user-image {
    width: 100%;
}
.user-card .user-info{
    padding: 20px;
}
.user-card .user-info h3{
    font-weight: 700;
}
.user-card .user-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.user-container .user-posts{
    flex: 2;
    margin: 20px;
}
.user-desc{
    background: var(--bs-primary-text-emphasis) !important;
    color: white;
    padding: 30px;
}
.user-desc span{
    font-size: 18px;
}
.posts-container{
    padding: 30px;
}